APP_PORT=3000
DEV_ALLOWED_ORIGINS=
APP_URL=http://localhost:3000

POSTGRES_USER=3am
POSTGRES_PASSWORD=3am
POSTGRES_DB=3am
POSTGRES_PORT=5432
DATABASE_URL=postgres://3am:3am@127.0.0.1:5432/3am


ORGANIZER_SLACK_IDS=

SESSION_SECRET=

HCA_ISSUER=https://auth.hackclub.com
HCA_CLIENT_ID=
HCA_CLIENT_SECRET=

HACKATIME_BASE_URL=https://hackatime.hackclub.com
HACKATIME_CLIENT_ID=
HACKATIME_CLIENT_SECRET=
TOKEN_ENCRYPTION_KEY=

# Old Vibe delegates reviewing ships to a separate service called Superviewer.
# It expects submissions to be signed with SUPERVIEWER_INGEST_SECRET and sent to
# the /api/ingest/{SUPERVIEWER_PROGRAM_ID} endpoint. When decisions are made, it
# will send a webhook back signed with SUPERVIEWER_WEBHOOK_SECRET.
#
# If these are left blank, ships will be logged locally and will not progress
# further.
#
# SUPERVIEWER_URL=
# SUPERVIEWER_PROGRAM_ID=
# SUPERVIEWER_INGEST_SECRET=
# SUPERVIEWER_WEBHOOK_SECRET=

AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=app8gAdqyBD96raNh

GITHUB_TOKEN=

YSWS_PROGRAM_ID=
YSWS_BRIDGE_URL=https://bridge.hackclub.com/v1/unified-submissions/upsert
YSWS_BRIDGE_SECRET=
YSWS_OUTBOX_TABLE_ID=tblGpstw5PJgVnqLt

CDN_TOKEN=

SLACK_BOT_TOKEN=
SLACK_OPS_CHANNEL_ID=
